<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy8ZEhwaM99gdgT_c7n77W6sYFMcXNaf0</string>
	<key>GCM_SENDER_ID</key>
	<string>511465971647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.solara</string>
	<key>PROJECT_ID</key>
	<string>solara-29b37</string>
	<key>STORAGE_BUCKET</key>
	<string>solara-29b37.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511465971647:ios:8c4cdc8da30df77d6c0b0a</string>
</dict>
</plist>